#XILINX Spartan 6 Mini SP6 V2 FPGA
# FPGAtechsolution

#reset push button
NET rst LOC = P17 | IOSTANDARD = LVCMOS33; 

#12 mhz clock input
NET clk LOC = P87 | IOSTANDARD = LVCMOS33; 
#Counter output on7 seg display

#MSB (6) to LSB (0) abcdefg format

#digit1 
NET dig1(6) LOC = P22 | IOSTANDARD = LVCMOS33;
NET dig1(5) LOC = P21 | IOSTANDARD = LVCMOS33;
NET dig1(4) LOC = P24 | IOSTANDARD = LVCMOS33;
NET dig1(3) LOC = P23 | IOSTANDARD = LVCMOS33;
NET dig1(2) LOC = P27 | IOSTANDARD = LVCMOS33;
NET dig1(1) LOC = P26 | IOSTANDARD = LVCMOS33;
NET dig1(0) LOC = P30 | IOSTANDARD = LVCMOS33; 

#digit2 
NET dig2(6) LOC = P29 | IOSTANDARD = LVCMOS33;
NET dig2(5) LOC = P33 | IOSTANDARD = LVCMOS33;
NET dig2(4) LOC = P32 | IOSTANDARD = LVCMOS33;
NET dig2(3) LOC = P35 | IOSTANDARD = LVCMOS33;
NET dig2(2) LOC = P34 | IOSTANDARD = LVCMOS33;
NET dig2(1) LOC = P41 | IOSTANDARD = LVCMOS33;
NET dig2(0) LOC = P40 | IOSTANDARD = LVCMOS33;

#digit3
NET dig3(6) LOC = P44 | IOSTANDARD = LVCMOS33;
NET dig3(5) LOC = P43 | IOSTANDARD = LVCMOS33;
NET dig3(4) LOC = P46 | IOSTANDARD = LVCMOS33;
NET dig3(3) LOC = P45 | IOSTANDARD = LVCMOS33;
NET dig3(2) LOC = P48 | IOSTANDARD = LVCMOS33;
NET dig3(1) LOC = P47 | IOSTANDARD = LVCMOS33;
NET dig3(0) LOC = P51 | IOSTANDARD = LVCMOS33;

